<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <h1>Welcome</h1>
  <% if (user) { %>
    <p>Hello, <%= user.displayName %>!</p>
    <a href="/logout">Logout</a>
  <% } else { %>
    <a href="/login">Login</a>
  <% } %>
</body>
</html>
