<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Update Product</title>
  </head>
  <body>
    <h1>Update Product</h1>
    <!-- Fill in your code here -->


    
  </body>
</html>