<!DOCTYPE html>
<html>
  <head>
    <title>Read Products</title>
  </head>
  <body>
    <h1>Products</h1>
    <table>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>On Sale</th>
        <th>Categories</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      <!-- Fill in your code here -->
      
    </table>
  </body>
</html>