<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Uploaded Files</title>
</head>
<body>
  <h1>Uploaded Files</h1>
  <ul>
    <% files.forEach(file => { %>
      <li>
        <a href="/uploads/<%= file.filename %>" target="_blank"><%= file.filename %></a>
        <a href="/download/<%= file._id %>">Download</a>
      </li>
    <% }); %>
  </ul>
</body>
</html>
