<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <h1>Welcome</h1>
  <% if (user) { %>
    <p>Hello, <%= user.displayName %>!</p>
    <p>Email: <%= user.email ? user.email : 'No email available' %></p>
    <% if (user.image) { %>
      <img src="<%= user.image %>" alt="Profile Picture">
    <% } else { %>
      <p>No profile picture available</p>
    <% } %>
    <a href="/logout">Logout</a>
  <% } else { %>
    <a href="/auth/google">Login with Google</a>
  <% } %>
  
</body>
</html>
